.header {
  display: flex;
  align-items: center;
  background-color: #000000;
  color: white;
  position: sticky;
  z-index: 100;
  top: 0;
  padding-top: 5px;
}
.header__logo > img {
  width: 100px;
  height: 50px;
  margin-left: 25px;
  background-color: #000000;
  object-fit: contain;
  cursor: pointer;
}
.header__logo > img:hover {
  transform: scale(1.1);
}
.header__search {
  display: flex;
  flex: 1;
  justify-content: center;
  border-radius: 25px;
}
.header__searchinput {
  height: 10px;
  border: 3px solid #cd9042;
  padding: 12px;
  outline: none;
  width: 50%;
  color: black;
}

.header__searchicon {
  height: 36px !important;
  background-color: #cd9042;
  padding: 2px;
  color: black !important;
  cursor: pointer;
}
.header__searchicon:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.header__nav {
  display: flex;
  justify-content: space-evenly;
}
.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 28px;
}
.header__option1 {
  font-size: 13px;
  height: 12px;
}
.carticon {
  color: white;
}
.carticon:hover {
  transform: scale(1.5);
}
.header__option1:hover {
  transform: scale(1.3);
  cursor: pointer;
}
.header__option2 {
  font-size: 15px;
  font-weight: bold;
  margin-top: 2px;
}
.header__option2:hover {
  transform: scale(1.3);
  cursor: pointer;
}
